[mysqld]
skip-host-cache
skip-name-resolve

datadir = /var/lib/mysql

pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock

log-error	= /var/log/mysql_error.log

general_log = off
general_log_file = /var/log/mysql_general.log

slow_query_log = on
slow_query_log_file ="/var/log/mysql-slow.log"
long_query_time = 0.5



symbolic-links=0
#bind-address	= 127.0.0.1

!includedir /etc/mysql/conf.d/
